body {
    background-color:#FFFFAF;
}

h1 {
    border-bottom : 1px solid black;
    padding : 10px;
}

li {
    margin : 5px;
}

#tim {
    background-color : #FFFFFF;
}

#bts 
{ 
    background-color : green;
}

.tim , .bts {
    color : white;
}
ol a {
    background-color : powderblue;
}
ul a {
    background-color : pink;
}

table,tr,td,th {
    border : 1px dotted black;
}


tr:active {
    background-color: yellow;
    color : black;
}

a:link {
    color:blue;
}

nav {
    display:inline-block;
    border-right : 1px solid black collapse ;
    width : 200px;
}

section {
    display:inline-block;
    border-left : 1px solid black;
    padding : 50px;
    width : 600px;
}

a:visited {
    color:red;
}

.info {
    display : inline-block;
}

@media (min-width: 600px) {
    body {
      color: red;
    }
  }